body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a3bad;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #102087;
  color: #ffea06;
  padding: 1rem 0;
  text-align: center;
}

footer {
  background-color: #102087;
  color: #ffee35;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

main.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#weather-title {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 40px;
}

#weather-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#location {
  color: #ffea06;
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.weather-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.weather-icon {
  text-align: center;
  flex: 0 0 40%;
}

.weather-icon img {
  width: 120px;
  height: 120px;
}

.weather-description {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.weather-details {
  flex: 0 0 55%;
  padding-left: 5%;
}

.weather-details p {
  margin: 0.3rem 0;
}

.temperature {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.forecast-card {
  margin-top: 20px;
}

.forecast-table {
  width: 100%;
  border-collapse: collapse;
}

.forecast-table th,
.forecast-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.forecast-table th {
  background-color: #f2f2f2;
}

.forecast-table img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
